flows/flujo-02-procesar-reporte.json
{
  "name": "flujo-02-procesar-reporte",
  "nodes": [
    {
      "id": "node-trigger-input",
      "name": "Entrada desde flujo-01",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "parameters": {},
      "notes": "Recibe: { mensaje_entrada_id, wa_message_id, phone, finca_id, tipo_mensaje, contenido_raw, media_ref, user_context }"
    },
    {
      "id": "node-iniciar-traza",
      "name": "Iniciar traza LangFuse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LANGFUSE_HOST }}/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Basic {{ Buffer.from($env.LANGFUSE_PUBLIC_KEY + ':' + $env.LANGFUSE_SECRET_KEY).toString('base64') }}"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "batch": [
            {
              "id": "={{ $json.wa_message_id + '-trace' }}",
              "type": "trace-create",
              "body": {
                "id": "={{ 'whatsapp_message_' + $json.wa_message_id }}",
                "name": "whatsapp_message",
                "metadata": {
                  "phone": "={{ $json.phone }}",
                  "finca_id": "={{ $json.finca_id }}",
                  "tipo_mensaje": "={{ $json.tipo_mensaje }}",
                  "wa_message_id": "={{ $json.wa_message_id }}"
                },
                "tags": ["h0", "pipeline"]
              },
              "timestamp": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "notes": "PLACEHOLDER: configurar LANGFUSE_HOST, LANGFUSE_PUBLIC_KEY, LANGFUSE_SECRET_KEY en env vars de n8n."
    },
    {
      "id": "node-buscar-sesion",
      "name": "Buscar sesión activa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, clarification_count, contexto_parcial, tipo_sesion\nFROM sesiones_activas\nWHERE phone = $1\n  AND status = 'active'\n  AND expires_at > NOW()\nORDER BY created_at DESC\nLIMIT 1;",
        "additionalFields": {
          "queryParams": "={{ [$('Entrada desde flujo-01').first().json.phone] }}"
        }
      },
      "credentials": {"postgres": {"name": "PLACEHOLDER: Supabase Postgres (service_role)"}}
    },
    {
      "id": "node-cerrar-sesion-pendiente",
      "name": "Cerrar sesión pendiente como nota_libre",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 260],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH sesion_cerrada AS (\n  UPDATE sesiones_activas\n  SET status = 'fallback_nota_libre', updated_at = NOW()\n  WHERE phone = $1\n    AND status = 'active'\n    AND tipo_sesion = 'reporte'\n    AND expires_at > NOW()\n  RETURNING session_id, contexto_parcial\n)\nINSERT INTO eventos_campo (finca_id, tipo_evento, status, datos_evento, descripcion_raw, confidence_score, requiere_validacion)\nSELECT $2, 'nota_libre', 'requires_review',\n  COALESCE(sc.contexto_parcial, '{}')::jsonb,\n  'Sesión anterior cerrada por nuevo mensaje',\n  0.0, true\nFROM sesion_cerrada sc\nWHERE sc.session_id IS NOT NULL\nRETURNING id;",
        "additionalFields": {
          "queryParams": "={{ [$('Entrada desde flujo-01').first().json.phone, $('Entrada desde flujo-01').first().json.finca_id] }}"
        }
      },
      "credentials": {"postgres": {"name": "PLACEHOLDER: Supabase Postgres (service_role)"}},
      "notes": "SC-conversation-005 MUST — determinístico. Cierra sesión 'reporte' pendiente y persiste contexto parcial como nota_libre."
    },
    {
      "id": "node-switch-tipo-contenido",
      "name": "Switch: Tipo de contenido",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 500],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {"conditions": [{"leftValue": "={{ $('Entrada desde flujo-01').first().json.tipo_mensaje }}", "operator": {"type": "string", "operation": "equals"}, "rightValue": "audio"}]},
              "renameOutput": true, "outputKey": "audio"
            },
            {
              "conditions": {"conditions": [{"leftValue": "={{ $('Entrada desde flujo-01').first().json.tipo_mensaje }}", "operator": {"type": "string", "operation": "equals"}, "rightValue": "image"}]},
              "renameOutput": true, "outputKey": "imagen"
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "id": "node-descargar-media",
      "name": "Descargar media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 380],
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Entrada desde flujo-01').first().json.media_ref }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"}]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      }
    },
    {
      "id": "node-t0-stt",
      "name": "Capturar t0 STT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 280],
      "parameters": {
        "jsCode": "return [{ json: { ...$('Entrada desde flujo-01').first().json, __t0_stt: new Date().toISOString() } }];"
      },
      "notes": "Captura timestamp antes de llamar STT. Requerido por R4 para calcular latencia en el span de LangFuse."
    },
    {
      "id": "node-stt-transcripcion",
      "name": "STT Transcripción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 280],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "gpt-4o-mini-transcribe"},
            {"name": "language", "value": "es"},
            {"name": "file", "value": "={{ $binary.data }}"}
          ]
        }
      },
      "notes": "PLACEHOLDER: OPENAI_API_KEY. R4: span loggeado en nodo siguiente."
    },
    {
      "id": "node-span-stt",
      "name": "Log span STT en LangFuse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 280],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LANGFUSE_HOST }}/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Basic {{ Buffer.from($env.LANGFUSE_PUBLIC_KEY + ':' + $env.LANGFUSE_SECRET_KEY).toString('base64') }}"}]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "batch": [
            {
              "id": "={{ 'span-stt-' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
              "type": "generation-create",
              "body": {
                "traceId": "={{ 'whatsapp_message_' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
                "name": "stt_transcripcion",
                "model": "gpt-4o-mini-transcribe",
                "startTime": "={{ $('Capturar t0 STT').first().json.__t0_stt }}",
                "endTime": "={{ new Date().toISOString() }}",
                "input": "={{ $('Entrada desde flujo-01').first().json.media_ref }}",
                "output": "={{ $('STT Transcripción').first().json.text }}"
              },
              "timestamp": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "notes": "R4: input (media_ref), output (transcripción), startTime/endTime para latencia."
    },
    {
      "id": "node-t0-post-correccion",
      "name": "Capturar t0 post-corrección",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 280],
      "parameters": {
        "jsCode": "return [{ json: { ...$('Entrada desde flujo-01').first().json, __t0_pc: new Date().toISOString(), transcripcion_raw: $('STT Transcripción').first().json.text } }];"
      },
      "notes": "Captura t0 antes de post-corrección STT. R4."
    },
    {
      "id": "node-post-correccion-stt",
      "name": "Post-corrección STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 280],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "gpt-4o-mini",
          "messages": [
            {"role": "system", "content": "PLACEHOLDER: cargar contenido de prompts/sp-02-post-correccion-stt.md"},
            {"role": "user", "content": "={{ $('STT Transcripción').first().json.text }}"}
          ],
          "temperature": 0.1,
          "max_tokens": 500
        }
      }
    },
    {
      "id": "node-span-post-correccion",
      "name": "Log span post-corrección en LangFuse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 280],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LANGFUSE_HOST }}/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Basic {{ Buffer.from($env.LANGFUSE_PUBLIC_KEY + ':' + $env.LANGFUSE_SECRET_KEY).toString('base64') }}"}]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "batch": [
            {
              "id": "={{ 'span-pc-' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
              "type": "generation-create",
              "body": {
                "traceId": "={{ 'whatsapp_message_' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
                "name": "stt_post_correccion",
                "model": "gpt-4o-mini",
                "startTime": "={{ $('Capturar t0 post-corrección').first().json.__t0_pc }}",
                "endTime": "={{ new Date().toISOString() }}",
                "input": "={{ $('STT Transcripción').first().json.text }}",
                "output": "={{ $('Post-corrección STT').first().json.choices[0].message.content }}",
                "usage": {
                  "promptTokens": "={{ $('Post-corrección STT').first().json.usage?.prompt_tokens }}",
                  "completionTokens": "={{ $('Post-corrección STT').first().json.usage?.completion_tokens }}"
                }
              },
              "timestamp": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "notes": "R4: input (raw STT), output (corregido), startTime/endTime, token usage."
    },
    {
      "id": "node-t0-vision",
      "name": "Capturar t0 vision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 500],
      "parameters": {
        "jsCode": "return [{ json: { ...$('Entrada desde flujo-01').first().json, __t0_vision: new Date().toISOString(), image_url: $('Descargar media').first().json.url } }];"
      },
      "notes": "Captura t0 antes de Vision Análisis. R4."
    },
    {
      "id": "node-vision-analisis",
      "name": "Vision Análisis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 500],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "gpt-4o-mini",
          "messages": [
            {"role": "system", "content": "PLACEHOLDER: cargar SP-03 con variables reemplazadas"},
            {
              "role": "user",
              "content": [
                {"type": "image_url", "image_url": {"url": "={{ $json.image_url }}", "detail": "high"}}
              ]
            }
          ],
          "temperature": 0.1,
          "max_tokens": 800,
          "response_format": {"type": "json_object"}
        }
      }
    },
    {
      "id": "node-span-vision",
      "name": "Log span vision en LangFuse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 500],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LANGFUSE_HOST }}/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Basic {{ Buffer.from($env.LANGFUSE_PUBLIC_KEY + ':' + $env.LANGFUSE_SECRET_KEY).toString('base64') }}"}]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "batch": [
            {
              "id": "={{ 'span-vision-' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
              "type": "generation-create",
              "body": {
                "traceId": "={{ 'whatsapp_message_' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
                "name": "vision_analisis",
                "model": "gpt-4o-mini",
                "startTime": "={{ $('Capturar t0 vision').first().json.__t0_vision }}",
                "endTime": "={{ new Date().toISOString() }}",
                "input": "={{ $('Capturar t0 vision').first().json.image_url }}",
                "output": "={{ $('Vision Análisis').first().json.choices[0].message.content }}",
                "usage": {
                  "promptTokens": "={{ $('Vision Análisis').first().json.usage?.prompt_tokens }}",
                  "completionTokens": "={{ $('Vision Análisis').first().json.usage?.completion_tokens }}"
                }
              },
              "timestamp": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "notes": "R4: input (image URL), output (descripción), startTime/endTime, token usage."
    },
    {
      "id": "node-preparar-texto",
      "name": "Preparar texto final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 400],
      "parameters": {
        "jsCode": "const tipoMensaje = $('Entrada desde flujo-01').first().json.tipo_mensaje;\nconst sesion = $('Buscar sesión activa').first().json;\n\nlet textoFinal = '';\nif (tipoMensaje === 'audio') {\n  textoFinal = $('Post-corrección STT').first().json?.choices?.[0]?.message?.content\n    ?? $('STT Transcripción').first().json?.text ?? '';\n} else if (tipoMensaje === 'image') {\n  const visionRaw = $('Vision Análisis').first().json?.choices?.[0]?.message?.content ?? '{}';\n  const caption = $('Entrada desde flujo-01').first().json?.content?.caption ?? '';\n  textoFinal = (caption ? caption + ' — ' : '') + visionRaw;\n} else {\n  textoFinal = $('Entrada desde flujo-01').first().json?.contenido_raw ?? '';\n}\n\nconst esContinuacion = !!sesion.contexto_parcial?.texto_previo;\nif (esContinuacion) {\n  textoFinal = `Contexto previo: ${sesion.contexto_parcial.texto_previo}\\nNueva info: ${textoFinal}`;\n}\n\nreturn [{\n  json: {\n    ...$('Entrada desde flujo-01').first().json,\n    texto_final: textoFinal,\n    es_continuacion: esContinuacion,\n    __t0_extraccion: new Date().toISOString()\n  }\n}];"
      },
      "notes": "Captura __t0_extraccion para span de LLM Extracción (R4)."
    },
    {
      "id": "node-llm-extraccion",
      "name": "LLM Extracción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "gpt-4o-mini",
          "messages": [
            {"role": "system", "content": "PLACEHOLDER: cargar SP-01 con {{LISTA_LOTES}}, {{FINCA_NOMBRE}}, {{CULTIVO_PRINCIPAL}}, {{PAIS}} reemplazados"},
            {"role": "user", "content": "={{ $json.texto_final }}"}
          ],
          "temperature": 0,
          "max_tokens": 1000,
          "response_format": {"type": "json_object"}
        }
      },
      "notes": "SP-01 contiene instrucción null-first verbatim (R1/P1)."
    },
    {
      "id": "node-span-extraccion",
      "name": "Log span extracción en LangFuse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LANGFUSE_HOST }}/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Basic {{ Buffer.from($env.LANGFUSE_PUBLIC_KEY + ':' + $env.LANGFUSE_SECRET_KEY).toString('base64') }}"}]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "batch": [
            {
              "id": "={{ 'span-ext-' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
              "type": "generation-create",
              "body": {
                "traceId": "={{ 'whatsapp_message_' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
                "name": "llm_extraccion",
                "model": "gpt-4o-mini",
                "startTime": "={{ $('Preparar texto final').first().json.__t0_extraccion }}",
                "endTime": "={{ new Date().toISOString() }}",
                "input": "={{ $('Preparar texto final').first().json.texto_final }}",
                "output": "={{ $('LLM Extracción').first().json.choices[0].message.content }}",
                "metadata": {
                  "confidence_score": "={{ JSON.parse($('LLM Extracción').first().json.choices[0].message.content).confidence_score }}"
                },
                "usage": {
                  "promptTokens": "={{ $('LLM Extracción').first().json.usage?.prompt_tokens }}",
                  "completionTokens": "={{ $('LLM Extracción').first().json.usage?.completion_tokens }}"
                }
              },
              "timestamp": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "notes": "R4: input (texto_final), output (JSON estructurado), confidence_score, startTime/endTime, tokens."
    },
    {
      "id": "node-validar-completitud",
      "name": "Validar completitud",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 400],
      "parameters": {
        "jsCode": "const rawContent = $('LLM Extracción').first().json.choices[0].message.content;\nconst extraccion = JSON.parse(rawContent);\nconst tipoEvento = extraccion.tipo_evento;\n\nconst camposObligatoriosPorTipo = {\n  labor:       ['lote_id', 'campos_extraidos.labor_tipo'],\n  insumo:      ['lote_id', 'campos_extraidos.producto'],\n  plaga:       ['lote_id', 'campos_extraidos.plaga_tipo'],\n  clima:       ['campos_extraidos.clima_tipo'],\n  cosecha:     ['lote_id', 'campos_extraidos.cantidad', 'campos_extraidos.unidad'],\n  gasto:       ['campos_extraidos.concepto', 'campos_extraidos.monto'],\n  observacion: ['campos_extraidos.texto_libre'],\n  nota_libre:  ['campos_extraidos.texto_libre']\n};\n\nconst obligatorios = camposObligatoriosPorTipo[tipoEvento] ?? [];\nconst camposFaltantes = obligatorios.filter(campo => {\n  const parts = campo.split('.');\n  let val = extraccion;\n  for (const part of parts) val = val?.[part];\n  return val === null || val === undefined;\n});\n\nconst resultado = camposFaltantes.length === 0 ? 'completo' :\n  (extraccion.requiere_clarificacion ? 'incompleto' : 'fallback_nota_libre');\n\nreturn [{\n  json: {\n    ...$('Preparar texto final').first().json,\n    extraccion,\n    resultado,\n    campos_faltantes: camposFaltantes,\n    tipo_evento: tipoEvento\n  }\n}];"
      }
    },
    {
      "id": "node-switch-completitud",
      "name": "Switch: Completitud",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [3540, 400],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {"conditions": [{"leftValue": "={{ $json.resultado }}", "operator": {"type": "string", "operation": "equals"}, "rightValue": "incompleto"}]},
              "renameOutput": true, "outputKey": "incompleto"
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "id": "node-decidir-clarificacion",
      "name": "Decidir clarificación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3760, 300],
      "parameters": {
        "jsCode": "// R2: decisión basada en clarification_count de la DB.\nconst { extraccion, campos_faltantes } = $input.first().json;\nconst sesion = $('Buscar sesión activa').first().json;\nconst clarificationCount = sesion.clarification_count ?? 0;\n\nif (clarificationCount >= 2) {\n  return [{ json: { action: 'fallback', extraccion, campos_faltantes, clarification_count: clarificationCount } }];\n}\n\nconst campoPregunta = campos_faltantes.includes('lote_id') ? 'lote_id' : campos_faltantes[0];\nconst pregunta = extraccion.pregunta_sugerida ??\n  (campoPregunta === 'lote_id' ? '¿En qué lote hiciste eso?' : `¿Podés decirme el ${campoPregunta}?`);\n\nreturn [{\n  json: {\n    action: 'clarify',\n    pregunta,\n    session_id: sesion.session_id,\n    clarification_count_actual: clarificationCount,\n    extraccion,\n    campos_faltantes\n  }\n}];"
      },
      "notes": "R2: lee clarification_count de DB. Solo lógica de decisión, sin SQL."
    },
    {
      "id": "node-if-clarificar",
      "name": "If: ¿Clarificar o fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3980, 300],
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{ $json.action }}", "operation": "equal", "value2": "clarify"}]
        }
      }
    },
    {
      "id": "node-upsert-sesion-clarificacion",
      "name": "Upsert sesión clarificación",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4200, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH sesion_update AS (\n  UPDATE sesiones_activas\n  SET\n    clarification_count = clarification_count + 1,\n    contexto_parcial = $2::jsonb,\n    ultimo_mensaje_at = NOW(),\n    expires_at = NOW() + INTERVAL '30 minutes'\n  WHERE phone = $1\n    AND status = 'active'\n    AND expires_at > NOW()\n  RETURNING session_id, clarification_count\n)\nINSERT INTO sesiones_activas (phone, tipo_sesion, clarification_count, contexto_parcial, expires_at)\nSELECT $1, 'reporte', 1, $2::jsonb, NOW() + INTERVAL '30 minutes'\nWHERE NOT EXISTS (SELECT 1 FROM sesion_update)\nRETURNING session_id, clarification_count;",
        "additionalFields": {
          "queryParams": "={{ [\n  $('Entrada desde flujo-01').first().json.phone,\n  JSON.stringify({ texto_previo: $('Preparar texto final').first().json.texto_final, extraccion_parcial: $json.extraccion })\n] }}"
        }
      },
      "credentials": {"postgres": {"name": "PLACEHOLDER: Supabase Postgres (service_role)"}},
      "notes": "R2 enforcement: UPDATE counter si sesión existe, INSERT con counter=1 si es nueva."
    },
    {
      "id": "node-enviar-pregunta-clarificacion",
      "name": "Enviar pregunta de clarificación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4420, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"}]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "messaging_product": "whatsapp",
          "to": "={{ $('Entrada desde flujo-01').first().json.phone }}",
          "type": "text",
          "text": {"body": "={{ $('Decidir clarificación').first().json.pregunta }}"}
        }
      }
    },
    {
      "id": "node-persistir-evento",
      "name": "Persistir evento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4200, 500],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH evento_insertado AS (\n  INSERT INTO eventos_campo\n    (finca_id, lote_id, tipo_evento, status, datos_evento, descripcion_raw,\n     confidence_score, requiere_validacion, fecha_evento, created_by, mensaje_id)\n  VALUES ($1, $2, $3, $4, $5::jsonb, $6, $7, $8, CURRENT_DATE, $9, $10)\n  RETURNING id\n)\nUPDATE mensajes_entrada\n  SET status = 'processed',\n      evento_id = (SELECT id FROM evento_insertado),\n      updated_at = NOW()\nWHERE id = $10\nRETURNING (SELECT id FROM evento_insertado) AS evento_id;",
        "additionalFields": {
          "queryParams": "={{ [\n  $json.finca_id,\n  $json.extraccion.lote_id ?? null,\n  $json.extraccion.tipo_evento,\n  ($json.resultado === 'fallback_nota_libre' || $json.action === 'fallback') ? 'requires_review' : 'complete',\n  JSON.stringify($json.extraccion.campos_extraidos ?? {}),\n  $json.contenido_raw,\n  $json.extraccion.confidence_score ?? 0.0,\n  ($json.extraccion.confidence_score ?? 0) < 0.5,\n  $json.user_id,\n  $json.mensaje_entrada_id\n] }}"
        }
      },
      "credentials": {"postgres": {"name": "PLACEHOLDER: Supabase Postgres (service_role)"}},
      "notes": "P5: descripcion_raw siempre persistido."
    },
    {
      "id": "node-confirmar-usuario",
      "name": "Confirmar al usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4420, 500],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"}]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "messaging_product": "whatsapp",
          "to": "={{ $('Entrada desde flujo-01').first().json.phone }}",
          "type": "text",
          "text": {
            "body": "={{ 'Listo, registré ' + ($json.extraccion?.tipo_evento ?? 'tu nota') + ($json.extraccion?.lote_id ? ' en ' + $json.extraccion.lote_id : '') + ' ✅' }}"
          }
        }
      },
      "notes": "Tuteo, máx 3 líneas, emojis solo ✅ ⚠️."
    }
  ],
  "connections": {
    "Entrada desde flujo-01": {
      "main": [[{"node": "Iniciar traza LangFuse", "type": "main", "index": 0}]]
    },
    "Iniciar traza LangFuse": {
      "main": [[{"node": "Buscar sesión activa", "type": "main", "index": 0}]]
    },
    "Buscar sesión activa": {
      "main": [
        [
          {"node": "Cerrar sesión pendiente como nota_libre", "type": "main", "index": 0},
          {"node": "Switch: Tipo de contenido", "type": "main", "index": 0}
        ]
      ]
    },
    "Switch: Tipo de contenido": {
      "main": [
        [{"node": "Descargar media", "type": "main", "index": 0}],
        [{"node": "Descargar media", "type": "main", "index": 0}],
        [{"node": "Preparar texto final", "type": "main", "index": 0}]
      ]
    },
    "Descargar media": {
      "main": [
        [
          {"node": "Capturar t0 STT", "type": "main", "index": 0},
          {"node": "Capturar t0 vision", "type": "main", "index": 0}
        ]
      ]
    },
    "Capturar t0 STT": {
      "main": [[{"node": "STT Transcripción", "type": "main", "index": 0}]]
    },
    "STT Transcripción": {
      "main": [[{"node": "Log span STT en LangFuse", "type": "main", "index": 0}]]
    },
    "Log span STT en LangFuse": {
      "main": [[{"node": "Capturar t0 post-corrección", "type": "main", "index": 0}]]
    },
    "Capturar t0 post-corrección": {
      "main": [[{"node": "Post-corrección STT", "type": "main", "index": 0}]]
    },
    "Post-corrección STT": {
      "main": [[{"node": "Log span post-corrección en LangFuse", "type": "main", "index": 0}]]
    },
    "Log span post-corrección en LangFuse": {
      "main": [[{"node": "Preparar texto final", "type": "main", "index": 0}]]
    },
    "Capturar t0 vision": {
      "main": [[{"node": "Vision Análisis", "type": "main", "index": 0}]]
    },
    "Vision Análisis": {
      "main": [[{"node": "Log span vision en LangFuse", "type": "main", "index": 0}]]
    },
    "Log span vision en LangFuse": {
      "main": [[{"node": "Preparar texto final", "type": "main", "index": 0}]]
    },
    "Preparar texto final": {
      "main": [[{"node": "LLM Extracción", "type": "main", "index": 0}]]
    },
    "LLM Extracción": {
      "main": [[{"node": "Log span extracción en LangFuse", "type": "main", "index": 0}]]
    },
    "Log span extracción en LangFuse": {
      "main": [[{"node": "Validar completitud", "type": "main", "index": 0}]]
    },
    "Validar completitud": {
      "main": [[{"node": "Switch: Completitud", "type": "main", "index": 0}]]
    },
    "Switch: Completitud": {
      "main": [
        [{"node": "Decidir clarificación", "type": "main", "index": 0}],
        [{"node": "Persistir evento", "type": "main", "index": 0}]
      ]
    },
    "Decidir clarificación": {
      "main": [[{"node": "If: ¿Clarificar o fallback?", "type": "main", "index": 0}]]
    },
    "If: ¿Clarificar o fallback?": {
      "main": [
        [{"node": "Upsert sesión clarificación", "type": "main", "index": 0}],
        [{"node": "Persistir evento", "type": "main", "index": 0}]
      ]
    },
    "Upsert sesión clarificación": {
      "main": [[{"node": "Enviar pregunta de clarificación", "type": "main", "index": 0}]]
    },
    "Persistir evento": {
      "main": [[{"node": "Confirmar al usuario", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "PLACEHOLDER_ERROR_WORKFLOW_ID"
  },
  "meta": {
    "wasagro": true,
    "horizon": "H0",
    "version": "1.2.0",
    "spec_ref": "REQ-extraction-001..007, REQ-conversation-001..007, R2, R4",
    "design_ref": "flujo-02 node contracts"
  }
}
