flows/flujo-04-reporte-semanal.json
{
  "name": "flujo-04-reporte-semanal",
  "nodes": [
    {
      "id": "node-trigger-semanal",
      "name": "Trigger semanal (lunes 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "notes": "Lunes 8am hora local. PLACEHOLDER: ajustar timezone a America/Guayaquil (Ecuador) o America/Guatemala."
    },
    {
      "id": "node-obtener-fincas-activas",
      "name": "Obtener fincas activas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  f.finca_id,\n  f.nombre AS finca_nombre,\n  f.cultivo_principal,\n  f.pais,\n  u.phone,\n  u.nombre AS usuario_nombre,\n  COUNT(e.id) FILTER (WHERE e.created_at >= NOW() - INTERVAL '7 days') AS eventos_semana\nFROM fincas f\nJOIN usuarios u ON u.finca_id = f.finca_id AND u.rol = 'agricultor' AND u.onboarding_completo = true\nLEFT JOIN eventos_campo e ON e.finca_id = f.finca_id AND e.status = 'validated'\nWHERE f.activo = true\n  AND u.consentimiento_datos = true\nGROUP BY f.finca_id, f.nombre, f.cultivo_principal, f.pais, u.phone, u.nombre\nHAVING COUNT(e.id) FILTER (WHERE e.created_at >= NOW() - INTERVAL '7 days') > 0;",
        "additionalFields": {}
      },
      "credentials": {
        "postgres": {
          "name": "PLACEHOLDER: Supabase Postgres (service_role)"
        }
      },
      "notes": "Solo fincas con al menos 1 evento validado en los últimos 7 días. Sin eventos = sin reporte (no spam)."
    },
    {
      "id": "node-split-por-finca",
      "name": "Split por finca",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "notes": "Procesa una finca por vez. Evita timeout en LLM para lotes grandes."
    },
    {
      "id": "node-agregar-eventos-semana",
      "name": "Agregar eventos de la semana",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  tipo_evento,\n  COUNT(*) AS cantidad,\n  json_agg(\n    json_build_object(\n      'fecha', created_at::date,\n      'lote_id', lote_id,\n      'datos', datos_evento,\n      'descripcion_raw', descripcion_raw\n    ) ORDER BY created_at DESC\n  ) AS detalle\nFROM eventos_campo\nWHERE finca_id = $1\n  AND status = 'validated'\n  AND created_at >= NOW() - INTERVAL '7 days'\nGROUP BY tipo_evento\nORDER BY cantidad DESC;",
        "additionalFields": {
          "queryParams": "={{ [$json.finca_id] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "PLACEHOLDER: Supabase Postgres (service_role)"
        }
      },
      "notes": "Agrega eventos por tipo_evento. JSON con detalle para el LLM. Incluye descripcion_raw para P5."
    },
    {
      "id": "node-iniciar-traza-langfuse",
      "name": "Iniciar traza LangFuse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LANGFUSE_HOST }}/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ Buffer.from($env.LANGFUSE_PUBLIC_KEY + ':' + $env.LANGFUSE_SECRET_KEY).toString('base64') }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "batch": [
            {
              "id": "={{ $('Capturar trace ID y t0').item.json.__trace_id }}",
              "type": "trace-create",
              "body": {
                "id": "={{ $('Capturar trace ID y t0').item.json.__trace_id }}",
                "name": "reporte_semanal",
                "metadata": {
                  "finca_id": "={{ $json.finca_id }}",
                  "finca_nombre": "={{ $json.finca_nombre }}",
                  "eventos_semana": "={{ $json.eventos_semana }}"
                }
              },
              "timestamp": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "notes": "R4: toda llamada LLM traceable. PLACEHOLDER: configurar LANGFUSE_HOST, LANGFUSE_PUBLIC_KEY, LANGFUSE_SECRET_KEY en n8n."
    },
    {
      "id": "node-capturar-trace-id",
      "name": "Capturar trace ID y t0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "jsCode": "// Captura __trace_id UNA vez — referenciar desde span para evitar divergencia con Date.now()\n// R4: startTime también capturado aquí para latencia del span LLM.\nconst fincaId = $input.first().json.finca_id;\nconst ts = new Date().toISOString();\nreturn [{ json: { ...$input.first().json, __trace_id: 'reporte-' + fincaId + '-' + ts, __t0_resumen: ts } }];"
      },
      "notes": "Genera __trace_id determinístico para trace + span LangFuse (R4). Sin esto, Date.now() diverge entre nodos."
    },
    {
      "id": "node-llm-generar-resumen",
      "name": "LLM: Generar resumen semanal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "gpt-4o-mini",
          "messages": [
            {
              "role": "system",
              "content": "PLACEHOLDER: Cargar contenido de prompts/sp-05-resumen-semanal.md"
            },
            {
              "role": "user",
              "content": "={{ 'Finca: ' + $('Agregar eventos de la semana').item.json.finca_nombre + '\\nCultivo: ' + $('Agregar eventos de la semana').item.json.cultivo_principal + '\\nFecha inicio: ' + new Date(Date.now() - 7*24*60*60*1000).toLocaleDateString('es-EC') + '\\nFecha fin: ' + new Date().toLocaleDateString('es-EC') + '\\nEventos agregados: ' + JSON.stringify($json) }}"
            }
          ],
          "temperature": 0.4,
          "max_tokens": 600
        }
      },
      "notes": "SP-05 genera resumen en lenguaje natural. Máx 10 líneas per spec. Input: eventos agregados por tipo."
    },
    {
      "id": "node-log-span-langfuse",
      "name": "Log span LLM en LangFuse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LANGFUSE_HOST }}/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ Buffer.from($env.LANGFUSE_PUBLIC_KEY + ':' + $env.LANGFUSE_SECRET_KEY).toString('base64') }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "batch": [
            {
              "id": "={{ 'span-resumen-' + $('Agregar eventos de la semana').item.json.finca_id + '-' + new Date().toISOString() }}",
              "type": "generation-create",
              "body": {
                "traceId": "={{ $('Capturar trace ID y t0').item.json.__trace_id }}",
                "name": "sp05_resumen_semanal",
                "model": "gpt-4o-mini",
                "startTime": "={{ $('Capturar trace ID y t0').item.json.__t0_resumen }}",
                "endTime": "={{ new Date().toISOString() }}",
                "input": "={{ JSON.stringify($('Agregar eventos de la semana').item.json) }}",
                "output": "={{ $('LLM: Generar resumen semanal').item.json.choices[0].message.content }}",
                "usage": {
                  "promptTokens": "={{ $('LLM: Generar resumen semanal').item.json.usage?.prompt_tokens }}",
                  "completionTokens": "={{ $('LLM: Generar resumen semanal').item.json.usage?.completion_tokens }}"
                }
              },
              "timestamp": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "notes": "R4: loggear cada generación. Incluye token counts para control de costos (D3: ~$0.09/finca/mes)."
    },
    {
      "id": "node-enviar-reporte-whatsapp",
      "name": "Enviar reporte por WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "messaging_product": "whatsapp",
          "to": "={{ $('Obtener fincas activas').item.json.phone }}",
          "type": "text",
          "text": {
            "body": "={{ $('LLM: Generar resumen semanal').item.json.choices[0].message.content }}"
          }
        }
      },
      "notes": "PLACEHOLDER: mensaje proactivo fuera de ventana 24h — requiere template aprobado por Meta (D6). En H0 asumir ventana abierta o usar template. Costo: utility message ~$0.005 Ecuador."
    },
    {
      "id": "node-registrar-reporte-enviado",
      "name": "Registrar reporte enviado",
      "disabled": true,
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reportes_semanales (finca_id, fecha_inicio, fecha_fin, eventos_incluidos, resumen_texto, enviado_at)\nVALUES ($1, NOW() - INTERVAL '7 days', NOW(), $2, $3, NOW())\nRETURNING id;",
        "additionalFields": {
          "queryParams": "={{ [\n  $('Obtener fincas activas').item.json.finca_id,\n  $('Obtener fincas activas').item.json.eventos_semana,\n  $('LLM: Generar resumen semanal').item.json.choices[0].message.content\n] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "PLACEHOLDER: Supabase Postgres (service_role)"
        }
      },
      "notes": "DESHABILITADO en H0 (disabled: true). Tabla reportes_semanales no existe en schema H0. Habilitar cuando exista 07-patch-reportes-semanales.sql."
    },
    {
      "id": "node-siguiente-finca",
      "name": "Siguiente finca",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1780, 300],
      "parameters": {},
      "notes": "Loop de vuelta a splitInBatches para procesar la siguiente finca."
    }
  ],
  "connections": {
    "Trigger semanal (lunes 8am)": {
      "main": [[{"node": "Obtener fincas activas", "type": "main", "index": 0}]]
    },
    "Obtener fincas activas": {
      "main": [[{"node": "Split por finca", "type": "main", "index": 0}]]
    },
    "Split por finca": {
      "main": [[{"node": "Agregar eventos de la semana", "type": "main", "index": 0}]]
    },
    "Agregar eventos de la semana": {
      "main": [[{"node": "Capturar trace ID y t0", "type": "main", "index": 0}]]
    },
    "Capturar trace ID y t0": {
      "main": [[{"node": "Iniciar traza LangFuse", "type": "main", "index": 0}]]
    },
    "Iniciar traza LangFuse": {
      "main": [[{"node": "LLM: Generar resumen semanal", "type": "main", "index": 0}]]
    },
    "LLM: Generar resumen semanal": {
      "main": [
        [
          {"node": "Log span LLM en LangFuse", "type": "main", "index": 0},
          {"node": "Enviar reporte por WhatsApp", "type": "main", "index": 0}
        ]
      ]
    },
    "Enviar reporte por WhatsApp": {
      "main": [[{"node": "Registrar reporte enviado", "type": "main", "index": 0}]]
    },
    "Registrar reporte enviado": {
      "main": [[{"node": "Siguiente finca", "type": "main", "index": 0}]]
    },
    "Siguiente finca": {
      "main": [[{"node": "Split por finca", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "PLACEHOLDER_ERROR_WORKFLOW_ID"
  },
  "meta": {
    "wasagro": true,
    "horizon": "H0",
    "version": "1.0.0",
    "spec_ref": "SP-05 resumen semanal, R4 observabilidad",
    "design_ref": "flujo-04 node contracts"
  }
}
