flows/flujo-03-onboarding.json
{
  "name": "flujo-03-onboarding",
  "nodes": [
    {
      "id": "node-entrada-flujo03",
      "name": "Entrada desde flujo-01",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {},
      "notes": "Recibe: { wa_message_id, phone, type, content, contact_name, phone_number_id, user_id (null si nuevo) }"
    },
    {
      "id": "node-verificar-usuario-existente",
      "name": "Verificar usuario existente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.id AS user_id,\n  u.phone,\n  u.nombre,\n  u.finca_id,\n  u.onboarding_completo,\n  u.onboarding_paso_actual,\n  u.datos_onboarding_parciales\nFROM usuarios u\nWHERE u.phone = $1;",
        "additionalFields": {
          "queryParams": "={{ [$json.phone] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "PLACEHOLDER: Supabase Postgres (service_role)"
        }
      },
      "notes": "Recupera estado actual de onboarding. Si no existe fila: usuario completamente nuevo."
    },
    {
      "id": "node-switch-nuevo-vs-retoma",
      "name": "Switch: Nuevo vs retoma onboarding",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [{"leftValue": "={{ $json.user_id }}", "operator": {"type": "null"}}]
              },
              "renameOutput": true,
              "outputKey": "usuario_nuevo"
            },
            {
              "conditions": {
                "conditions": [{"leftValue": "={{ $json.onboarding_completo }}", "operator": {"type": "boolean", "operation": "true"}}]
              },
              "renameOutput": true,
              "outputKey": "onboarding_completo"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "notes": "usuario_nuevo → crear registro | onboarding_completo → edge case (no debería llegar aquí) | fallback → continuar paso pendiente"
    },
    {
      "id": "node-iniciar-traza-onboarding",
      "name": "Iniciar traza LangFuse onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 60],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LANGFUSE_HOST }}/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Basic {{ Buffer.from($env.LANGFUSE_PUBLIC_KEY + ':' + $env.LANGFUSE_SECRET_KEY).toString('base64') }}"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "batch": [
            {
              "id": "={{ 'onboarding-trace-' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
              "type": "trace-create",
              "body": {
                "id": "={{ 'onboarding_' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
                "name": "onboarding",
                "metadata": {
                  "phone": "={{ $('Entrada desde flujo-01').first().json.phone }}",
                  "paso": "={{ $json.onboarding_paso_actual ?? 1 }}"
                },
                "tags": ["h0", "onboarding"]
              },
              "timestamp": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "notes": "R4: traza por paso de onboarding. PLACEHOLDER: LANGFUSE_HOST, LANGFUSE_PUBLIC_KEY, LANGFUSE_SECRET_KEY."
    },
    {
      "id": "node-crear-usuario",
      "name": "Crear usuario nuevo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 180],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO usuarios (phone, nombre, rol, onboarding_completo, onboarding_paso_actual, datos_onboarding_parciales, consentimiento_datos)\nVALUES ($1, $2, 'agricultor', false, 1, '{}', false)\nRETURNING id AS user_id, phone, onboarding_paso_actual;",
        "additionalFields": {
          "queryParams": "={{ [$json.phone, $json.contact_name] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "PLACEHOLDER: Supabase Postgres (service_role)"
        }
      },
      "notes": "Inserta usuario con paso 1. contact_name de WhatsApp como nombre provisional."
    },
    {
      "id": "node-procesar-respuesta-paso",
      "name": "Procesar respuesta paso actual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420],
      "parameters": {
        "jsCode": "// Parsear y validar la respuesta del usuario para el paso actual de onboarding\n// SP-04 define qué espera cada paso\n// __t0_llm capturado aquí para latencia del span LangFuse (R4)\nconst paso = $input.first().json.onboarding_paso_actual;\nconst respuesta = $input.first().json.content?.body ?? '';\nconst datosAcumulados = $input.first().json.datos_onboarding_parciales ?? {};\n\n// Validación básica por paso\n// Paso 1: nombre de la finca\n// Paso 2: cultivo principal (cacao | banano)\n// Paso 3: país (ecuador | guatemala)\n// Paso 4: número de lotes\n// Paso 5: consentimiento (sí | no)\n\nconst PASOS_VALIDOS = {\n  1: { campo: 'finca_nombre', validar: (r) => r.trim().length >= 2 },\n  2: { campo: 'cultivo_principal', validar: (r) => ['cacao', 'banano', 'cacao y banano', 'banano y cacao'].some(c => r.toLowerCase().includes(c)) },\n  3: { campo: 'pais', validar: (r) => ['ecuador', 'guatemala'].some(p => r.toLowerCase().includes(p)) },\n  4: { campo: 'num_lotes', validar: (r) => !isNaN(parseInt(r.match(/\\d+/)?.[0])) },\n  5: { campo: 'consentimiento', validar: (r) => ['sí', 'si', 'no'].some(c => r.toLowerCase().trim() === c) }\n};\n\nconst pasoConfig = PASOS_VALIDOS[paso];\nif (!pasoConfig) throw new Error(`PASO_INVALIDO: ${paso}`);\n\nconst esValido = pasoConfig.validar(respuesta);\n\nif (esValido) {\n  let valorParseado = respuesta.trim();\n  if (paso === 4) valorParseado = parseInt(respuesta.match(/\\d+/)[0]);\n  if (paso === 5) valorParseado = respuesta.toLowerCase().trim() === 'sí' || respuesta.toLowerCase().trim() === 'si';\n  \n  const nuevosDatos = { ...datosAcumulados, [pasoConfig.campo]: valorParseado };\n  const siguientePaso = paso + 1;\n  const onboardingCompleto = paso >= 5;\n  \n  return [{\n    json: {\n      ...$input.first().json,\n      paso_actual: paso,\n      siguiente_paso: siguientePaso,\n      onboarding_completo: onboardingCompleto,\n      datos_actualizados: nuevosDatos,\n      respuesta_valida: true,\n      campo_guardado: pasoConfig.campo,\n      valor_guardado: valorParseado\n    }\n  }];\n} else {\n  return [{\n    json: {\n      ...$input.first().json,\n      paso_actual: paso,\n      respuesta_valida: false,\n      datos_actualizados: datosAcumulados\n    }\n  }];\n}"
      },
      "notes": "Valida respuesta para el paso actual. Si inválida: repregunta. Si válida: avanza paso."
    },
    {
      "id": "node-switch-respuesta-valida",
      "name": "Switch: Respuesta válida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 420],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.respuesta_valida }}",
              "value2": true
            }
          ]
        }
      },
      "notes": "true → persistir progreso y avanzar | false → repregunta mismo paso"
    },
    {
      "id": "node-persistir-progreso",
      "name": "Persistir progreso onboarding",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE usuarios\nSET\n  datos_onboarding_parciales = $1::jsonb,\n  onboarding_paso_actual = $2,\n  onboarding_completo = $3,\n  updated_at = NOW()\nWHERE id = $4\nRETURNING id, onboarding_completo, onboarding_paso_actual, datos_onboarding_parciales;",
        "additionalFields": {
          "queryParams": "={{ [JSON.stringify($json.datos_actualizados), $json.siguiente_paso, $json.onboarding_completo, $json.user_id] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "PLACEHOLDER: Supabase Postgres (service_role)"
        }
      },
      "notes": "Persiste datos parciales en JSON. Si onboarding_completo=true → siguiente nodo crea finca y lotes."
    },
    {
      "id": "node-switch-onboarding-terminado",
      "name": "Switch: Onboarding terminado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.onboarding_completo }}",
              "value2": true
            }
          ]
        }
      },
      "notes": "true → crear finca y lotes en Supabase | false → enviar siguiente pregunta"
    },
    {
      "id": "node-crear-finca-y-lotes",
      "name": "Crear finca y lotes iniciales",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 180],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH nueva_finca AS (\n  INSERT INTO fincas (nombre, cultivo_principal, pais)\n  VALUES ($1, $2, $3)\n  RETURNING finca_id\n),\n_update_usuario AS (\n  UPDATE usuarios\n  SET finca_id = (SELECT finca_id FROM nueva_finca),\n      consentimiento_datos = $4,\n      updated_at = NOW()\n  WHERE id = $5\n  RETURNING id\n)\nSELECT finca_id FROM nueva_finca;",
        "additionalFields": {
          "queryParams": "={{ [\n  $json.datos_actualizados.finca_nombre,\n  $json.datos_actualizados.cultivo_principal,\n  $json.datos_actualizados.pais,\n  $json.datos_actualizados.consentimiento,\n  $json.user_id\n] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "PLACEHOLDER: Supabase Postgres (service_role)"
        }
      },
      "notes": "Crea finca con datos del onboarding. Lotes se crean manualmente o via conversación futura. Consentimiento registrado (P6)."
    },
    {
      "id": "node-registrar-consentimiento",
      "name": "Registrar consentimiento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 180],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_consents (user_id, consent_type, consent_text, consented)\nVALUES (\n  $1,\n  'data_processing',\n  'Wasagro usará tus datos de campo para generar reportes y alertas. No compartimos datos sin tu permiso. ¿Aceptás?',\n  $2\n);",
        "additionalFields": {
          "queryParams": "={{ [$json.user_id, $json.datos_actualizados.consentimiento] }}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "PLACEHOLDER: Supabase Postgres (service_role)"
        }
      },
      "notes": "P6: consentimiento inmutable con texto exacto mostrado al usuario. Ver 02-patch-user-consents.sql."
    },
    {
      "id": "node-llm-siguiente-pregunta",
      "name": "LLM: Siguiente pregunta onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 540],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "gpt-4o-mini",
          "messages": [
            {
              "role": "system",
              "content": "PLACEHOLDER: Cargar contenido de prompts/sp-04-onboarding.md"
            },
            {
              "role": "user",
              "content": "={{ 'Paso actual: ' + $json.paso_actual + '\\nDatos recopilados: ' + JSON.stringify($json.datos_actualizados) + '\\nRespuesta del usuario: ' + ($json.content?.body ?? '') + '\\nRespuesta válida: ' + $json.respuesta_valida }}"
            }
          ],
          "temperature": 0.3,
          "max_tokens": 200
        }
      },
      "notes": "SP-04 genera la siguiente pregunta del onboarding. Si respuesta_valida=false: repite con feedback. Si válida: pregunta paso N+1."
    },
    {
      "id": "node-span-onboarding-llm",
      "name": "Log span LLM onboarding en LangFuse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 540],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LANGFUSE_HOST }}/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Basic {{ Buffer.from($env.LANGFUSE_PUBLIC_KEY + ':' + $env.LANGFUSE_SECRET_KEY).toString('base64') }}"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "batch": [
            {
              "id": "={{ 'span-onboarding-' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
              "type": "generation-create",
              "body": {
                "traceId": "={{ 'onboarding_' + $('Entrada desde flujo-01').first().json.wa_message_id }}",
                "name": "sp04_onboarding_pregunta",
                "model": "gpt-4o-mini",
                "startTime": "={{ $('Procesar respuesta paso actual').first().json.__t0_llm ?? $('Crear usuario nuevo').first().json.created_at ?? new Date().toISOString() }}",
                "endTime": "={{ new Date().toISOString() }}",
                "input": "={{ JSON.stringify({ paso: $json.onboarding_paso_actual, datos_acumulados: $json.datos_actualizados, respuesta_usuario: $('Entrada desde flujo-01').first().json.content?.body }) }}",
                "output": "={{ $('LLM: Siguiente pregunta onboarding').first().json.choices[0].message.content }}",
                "usage": {
                  "promptTokens": "={{ $('LLM: Siguiente pregunta onboarding').first().json.usage?.prompt_tokens }}",
                  "completionTokens": "={{ $('LLM: Siguiente pregunta onboarding').first().json.usage?.completion_tokens }}"
                }
              },
              "timestamp": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "notes": "R4: loggea cada llamada LLM del onboarding con SP-04. Output: pregunta generada para el usuario."
    },
    {
      "id": "node-enviar-bienvenida-completo",
      "name": "Enviar mensaje bienvenida completo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 180],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "messaging_product": "whatsapp",
          "to": "={{ $('Entrada desde flujo-01').item.json.phone }}",
          "type": "text",
          "text": {
            "body": "={{ '✅ ¡Listo ' + ($('Entrada desde flujo-01').item.json.contact_name ?? 'amigo') + '! Tu finca ' + $json.datos_actualizados.finca_nombre + ' está registrada. Ya podés enviarme reportes de campo. Empezá por escribirme qué hiciste hoy.' }}"
          }
        }
      },
      "notes": "Mensaje de bienvenida al completar onboarding. Máx 3 líneas per CLAUDE.md. Sin emojis extra."
    },
    {
      "id": "node-enviar-pregunta-onboarding",
      "name": "Enviar pregunta onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 540],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "messaging_product": "whatsapp",
          "to": "={{ $('Entrada desde flujo-01').item.json.phone }}",
          "type": "text",
          "text": {
            "body": "={{ $('LLM: Siguiente pregunta onboarding').item.json.choices[0].message.content }}"
          }
        }
      },
      "notes": "PLACEHOLDER: configurar WHATSAPP_PHONE_NUMBER_ID y WHATSAPP_ACCESS_TOKEN en env vars de n8n."
    }
  ],
  "connections": {
    "Entrada desde flujo-01": {
      "main": [[{"node": "Verificar usuario existente", "type": "main", "index": 0}]]
    },
    "Verificar usuario existente": {
      "main": [[{"node": "Switch: Nuevo vs retoma onboarding", "type": "main", "index": 0}]]
    },
    "Switch: Nuevo vs retoma onboarding": {
      "main": [
        [{"node": "Iniciar traza LangFuse onboarding", "type": "main", "index": 0}],
        [],
        [{"node": "Iniciar traza LangFuse onboarding", "type": "main", "index": 0}]
      ]
    },
    "Iniciar traza LangFuse onboarding": {
      "main": [
        [
          {"node": "Crear usuario nuevo", "type": "main", "index": 0},
          {"node": "Procesar respuesta paso actual", "type": "main", "index": 0}
        ]
      ]
    },
    "Crear usuario nuevo": {
      "main": [[{"node": "LLM: Siguiente pregunta onboarding", "type": "main", "index": 0}]]
    },
    "Procesar respuesta paso actual": {
      "main": [[{"node": "Switch: Respuesta válida", "type": "main", "index": 0}]]
    },
    "Switch: Respuesta válida": {
      "main": [
        [{"node": "Persistir progreso onboarding", "type": "main", "index": 0}],
        [{"node": "LLM: Siguiente pregunta onboarding", "type": "main", "index": 0}]
      ]
    },
    "Persistir progreso onboarding": {
      "main": [[{"node": "Switch: Onboarding terminado", "type": "main", "index": 0}]]
    },
    "Switch: Onboarding terminado": {
      "main": [
        [{"node": "Crear finca y lotes iniciales", "type": "main", "index": 0}],
        [{"node": "LLM: Siguiente pregunta onboarding", "type": "main", "index": 0}]
      ]
    },
    "Crear finca y lotes iniciales": {
      "main": [[{"node": "Registrar consentimiento", "type": "main", "index": 0}]]
    },
    "Registrar consentimiento": {
      "main": [[{"node": "Enviar mensaje bienvenida completo", "type": "main", "index": 0}]]
    },
    "LLM: Siguiente pregunta onboarding": {
      "main": [[{"node": "Log span LLM onboarding en LangFuse", "type": "main", "index": 0}]]
    },
    "Log span LLM onboarding en LangFuse": {
      "main": [[{"node": "Enviar pregunta onboarding", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "PLACEHOLDER_ERROR_WORKFLOW_ID"
  },
  "meta": {
    "wasagro": true,
    "horizon": "H0",
    "version": "1.0.0",
    "spec_ref": "SP-04 onboarding, P6 consentimiento",
    "design_ref": "flujo-03 node contracts"
  }
}
